body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background: white;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.item img {
  width: 100%;
  border-radius: 10px;
}